<launch>

  <arg name="name" default=""/>
  <arg name="port" default="/dev/ttyUSB0"/>
  <arg name="frequency" default="6.0"/>  
  <arg name="use_sensor_data_qos" default="true"/>
  <arg name="count_subs_period" default="1.0"/>
  <arg name="range_max" default="12.0"/>
  <arg name="range_min" default="0.03"/>
  <arg name="delta_angle" default="180.0"/>
  <arg name="direction" default="-1"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  <arg name="interpolation" default="linear"/>
  <arg name="fixed_sector" default="true"/>
  <arg name="mask" default=""/>
  <arg name="scan" default="2"/>
  <arg name="frame_id" default="base_laser"/>
  <arg name="pointcloud" default="2"/>
  <arg name="pointcloud_frame_id" default="base_laser"/>
  <arg name="pointcloud_fixed_frame_id" default="base_link"/>
  <arg name="pointcloud_intensity" default="false"/>
  <arg name="pointcloud_tf_timeout_ms" default="100"/>
  <arg name="parent_frame_id" default=""/>
  <arg name="fixed_resolution" default="false"/>
  <arg name="reversion" default="false"/>
  <arg name="inverted" default="false"/>
  <arg name="force_cc" default="false"/>
  <arg name="reversed" default="false"/>
  <let name="tf2_ros_old_api" value="$(eval '\'$(env ROS_DISTRO)\' == \'foxy\'')"/>
  <let name="has_parent_frame" value="$(eval '\'$(var parent_frame_id)\' != \'\'')"/>
  <let name="tf_prefix" value="$(eval '\'$(var name)/\' if \'$(var name)\' else \'\'')"/>

  <group>
    
    <push-ros-namespace namespace="$(var name)"/>

    <node name="ydlidar_driver" pkg="ydlidar_ros2_driver" exec="ydlidar_ros2_driver_node_2" output="screen" args="--ros-args --log-level info">
      <param name="port" value="$(var port)"/>
      <param name="frame_id" value="$(var tf_prefix)$(var frame_id)"/>
      <param name="frequency" value="$(var frequency)"/>
      <!-- <param name="ignore_array" value=""/> -->
      <param name="baudrate" value="230400"/>
      <param name="lidar_type" value="1"/>
      <param name="device_type" value="0"/>
      <param name="sample_rate" value="4"/>
      <param name="intensity_bit" value="8"/>
      <param name="delta_angle" value="$(var delta_angle)"/>
      <param name="direction" value="$(var direction)"/>
      <param name="use_sensor_data_qos" value="$(var use_sensor_data_qos)"/>
      <param name="count_subs_period" value="$(var count_subs_period)"/>
      <param name="auto_reconnect" value="true"/>
      <param name="isSingleChannel" value="false"/>
      <param name="intensity" value="true"/>
      <param name="support_motor_dtr" value="false"/>
      <param name="angle_max" value="180.0"/>
      <param name="angle_min" value="-180.0"/>
      <param name="range_max" value="$(var range_max)"/>
      <param name="range_min" value="$(var range_min)"/>
      <param name="mask" value="$(var mask)"/>
      <param name="interpolation" value="$(var interpolation)"/>
      <param name="fixed_sector" value="$(var fixed_sector)"/>
      <param name="fixed_resolution" value="$(var fixed_resolution)"/> 
      <param name="reversion" value="$(var reversion)"/>
      <param name="inverted" value="$(var inverted)"/>
      <param name="reversed" value="$(var reversed)"/>
      <param name="pointcloud">
        <param name="enable" value="$(var pointcloud)"/>
        <param name="frame_id" value="$(var pointcloud_frame_id)"/>
        <param name="fixed_frame_id" value="$(var pointcloud_fixed_frame_id)"/>
        <param name="intensity" value="$(var pointcloud_intensity)"/>
        <param name="tf_timeout_ms" value="$(var pointcloud_tf_timeout_ms)"/>
      </param>
      <param name="scan.enable" value="$(var scan)"/>
      <param name="scan.force_cc" value="$(var force_cc)"/>
    </node>
  
    <include file="$(find-pkg-share ydlidar_ros2_driver)/launch/model.launch.py">
      <arg name="model" value="tmini_pro"/>
      <arg name="name" value="$(var name)"/>
      <arg name="lidar_frame_id" value="$(var frame_id)"/>
      <arg name="reversed" value="$(var reversed)"/>
    </include>
  
    <group if="$(var has_parent_frame)">
      <group if="$(var tf2_ros_old_api)">
        <node name="static_tf_pub_lidar" pkg="tf2_ros" exec="static_transform_publisher" args="$(var x) $(var y) $(var z) $(var roll) $(var pitch) $(var yaw) $(var parent_frame_id) $(var name)/base_link" output="screen"  />
      </group>
      <group unless="$(var tf2_ros_old_api)">
        <node name="static_tf_pub_lidar" pkg="tf2_ros" exec="static_transform_publisher" args="  --x $(var x) --y $(var y) --z $(var z) --roll $(var roll) --pitch $(var pitch) --yaw   $(var yaw) --frame-id $(var parent_frame_id) --child-frame-id $(var name)/base_link "   output="screen"  />
      </group>
    </group>
  </group>
</launch>
